* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    width: 100px;
    background-color: transparent;
    border-radius: 5px;

}

.nav {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 40px;
    margin-left: 100px;
}

.nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.nav a:hover {
    color: blue;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 25px;
}

.actions i {
    font-size: 22px;
    cursor: pointer;
    color: #222;
}

.actions i:hover {
    color: #1d4ed8;
}

.login-btn {
    background: #0b1736;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background: #162a61;
}

.top-bar {
    background-color: #101a35;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.new {
    color: #f4b53f;
    font-weight: bold;
}



/* =========================
   MAIN PAGE
========================= */

.law-page {
    padding: 30px 20px 80px;
}


/* =========================
   HERO
========================= */

.law-hero {

    max-width: 1200px;
    height: 360px;

    margin: 0 auto;

    border-radius: 20px;

    background-image:
        linear-gradient(rgba(8, 22, 43, 0.78),
            rgba(8, 22, 43, 0.78)),
        url("./law\ \ and\ judiciary\ category\ 1.png");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    padding: 50px 60px;

    color: white;
}


.law-hero-content {
    width: 650px;
}


.law-hero h1 {

    font-size: 48px;
    line-height: 1.1;

    margin-bottom: 18px;

    font-weight: 700;
}


.law-hero p {
    font-size: 17px;
    line-height: 27px;
    color: #e7e9ed;
    margin-bottom: 28px;
}
/* =========================
   SEARCH
========================= */

.law-search {
    width: 490px;
    height: 55px;
    background: white;
    border-radius: 17px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.15);
}


.law-search i {
    color: #1665ff;
    font-size: 20px;
    margin: 0 15px;
}


.law-search input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}


.law-search input::placeholder {
    color: #777;
}


.law-search button {
    width: 105px;
    height: 44px;
    border: none;
    border-radius: 14px;
    background: #1665ff;
    color: white;
    font-size: 15px;
    cursor: pointer;
}


/* =========================
   STATS
========================= */

.law-stats {
    max-width: 1200px;
    margin: 60px auto 55px;
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);
    gap: 20px;
}


.law-stat {
    height: 110px;
    background: white;
    border: 1px solid #d9dce2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 2px 5px rgba(0, 0, 0, 0.03);
}
.law-stat h2 {
    color: #1665ff;
    font-size: 32px;
    margin-bottom: 7px;
}


.law-stat p {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
}


/* =========================
   MAIN GRID
========================= */

.law-main {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: block;
}

/* =========================
   SECTION TITLE
========================= */

.law-section-title {
    font-size: 23px;
    margin-bottom: 20px;
}


/* =========================
   CATEGORY CARDS
========================= */

.law-categories {
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);
    gap: 14px;
}


.law-category-card {
    height: 120px;
    background: white;
    border: 1px solid #d9dce2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #111;
    transition: 0.2s;
}


.law-category-card i {
    color: #1665ff;
    font-size: 26px;
    margin-bottom: 15px;
}


.law-category-card p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}


.law-category-card:hover {
    transform: translateY(-3px);
    box-shadow:
        0 5px 15px rgba(0, 0, 0, 0.08);
}


/* =========================
   FEATURED INSIGHTS
========================= */

.featured-heading {
    margin-top: 55px;
}

.law-featured-card {
    background: white;
    border: 1px solid #d9dce2;
    border-radius: 15px;
    overflow: hidden;

    height: 270px;
    min-height: 270px;

    display: grid;
    grid-template-columns: 45% 55%;

    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.04);
}

.law-featured-image {
    width: 100%;
    height: 100%;
}


.law-featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.law-featured-content {
    padding: 25px;
}


.law-featured-tag {
    display: inline-block;
    background: #e8f0ff;
    color: #1665ff;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 14px;
}


.law-featured-content h2 {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 13px;
}


.law-featured-content p {
    color: #555;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 20px;
}


.law-featured-info {
    display: flex;
    gap: 20px;
    color: #555;
    font-size: 13px;
}


.law-featured-info i {
    margin-right: 5px;
}
/* =========================
   FOOTER
========================= */

.main-footer{
    background:#080d12;
    color:#d7d9de;
    margin-top:80px;
    font-family:"Inter",
    Arial,
    sans-serif;
}
/* =========================
   NEWSLETTER
========================= */

.footer-newsletter{
    margin:50px 4% 70px;
    padding:32px;
    background:#061d36;
    border:1px solid #163858;
    border-radius:14px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
}

.newsletter-text{
    max-width:620px;
}

.newsletter-text h3{
    color:#e4bc3f;
    font-family:Georgia, serif;
    font-size:22px;
    margin-bottom:12px;
}

.newsletter-text p{
    color:#d2d5db;
    font-size:17px;
    line-height:27px;
    margin:0;
}

.newsletter-form{
    display:flex;
    width:470px;
    height:54px;
}

.newsletter-form input{
    flex:1;
    background:#111c27;
    color:white;
    border:1px solid #263849;
    border-radius:8px 0 0 8px;
    outline:none;
    padding:0 16px;
    font-size:16px;
}

.newsletter-form input::placeholder{
    color:#aeb3ba;
}

.newsletter-form button{
    width:135px;
    border:none;
    background:#e4b934;
    color:#101010;
    font-size:16px;
    font-weight:700;
    border-radius:0 8px 8px 0;
    cursor:pointer;
}

.newsletter-form button:hover{
    background:#f0c94d;
}

/* =========================
   FOOTER CONTENT
========================= */
.footer-content{
    padding:0 4% 70px;
    display:grid;
    grid-template-columns:
    1.35fr
    1fr
    1.2fr
    1.05fr;
    gap:70px;
}

/* =========================
   COMPANY
========================= */

.footer-logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:25px;
}

.footer-logo img{
    width:65px;
    height:65px;
    object-fit:contain;
    background:white;
    border-radius:6px;
    padding:5px;
}

.footer-logo h2{
    color:#e4bc3f;
    font-family:Georgia, serif;
    font-size:27px;
    line-height:30px;
    margin:0;
}

.company-description{
    max-width:300px;
    color:#b8bdc5;
    font-size:16px;
    line-height:25px;
    margin-bottom:35px;
}

.contact-heading{
    color:white;
    font-family:Georgia, serif;
    font-size:20px;
    margin-bottom:20px;
}

.contact-item{
    display:flex;
    align-items:flex-start;
    gap:15px;
    margin-bottom:17px;
    color:#bfc3ca;
    font-size:16px;
    line-height:23px;
}

.contact-item i{
    color:#e4bc3f;
    font-size:18px;
    width:20px;
    margin-top:3px;
}

/* =========================
   SOCIAL ICONS
========================= */
.social-icons{
    display:flex;
    gap:14px;
    margin-top:30px;
}

.social-icons a{
    width:43px;
    height:43px;
    border:1px solid #29323b;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#d9dce0;
    text-decoration:none;
    font-size:18px;
    transition:0.2s;
}

.social-icons a:hover{
    border-color:#e4bc3f;
    color:#e4bc3f;
    transform:translateY(-2px);
}

/* =========================
   FOOTER COLUMNS
========================= */
.footer-column h3{
    color:white;
    font-family:Georgia, serif;
    font-size:21px;
    margin:0 0 25px;
}

.footer-column a{
    display:block;
    color:#b8bdc5;
    text-decoration:none;
    font-size:16px;
    margin-bottom:17px;
    transition:0.2s;
}

.footer-column a:hover{
    color:#e4bc3f;
    padding-left:3px;
}

.important-heading{
    margin-top:45px !important;
    margin-bottom:25px !important;
}
/* =========================
   FIND US
========================= */

.find-us{
    background:#061d36;
    border:1px solid #173957;
    border-radius:14px;
    overflow:hidden;
    height:max-content;
}

.find-us > h3{
    font-family:Georgia, serif;
    font-size:22px;
    color:white;
    padding:24px 22px;
    margin:0;
    border-bottom:1px solid #24425d;
}

.map-container{
    width:100%;
    height:330px;
    background:#222;
}

.map-container img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.direction-btn{
    width:calc(100% - 40px);
    height:48px;
    margin:20px;
    background:transparent;
    border:1px solid #e4bc3f;
    border-radius:5px;
    color:#e4bc3f;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
}

.direction-btn i{
    margin-left:8px;
}

.direction-btn:hover{
    background:#e4bc3f;
    color:#101010;
}


/* =========================
   BOTTOM FOOTER
========================= */

.footer-bottom{
    min-height:80px;
    padding:20px 4%;
    border-top:1px solid #24282c;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}

.footer-bottom p{
    color:#c2c5ca;
    font-size:15px;
    margin:0;
}

.footer-bottom > span{
    color:#e4bc3f;
    font-size:12px;
    font-weight:700;
    letter-spacing:1.5px;
}


.bottom-links{
    display:flex;
    align-items:center;
    gap:12px;
}

.bottom-links a{
    color:#c2c5ca;
    text-decoration:none;
    font-size:15px;
}
.bottom-links a:hover{
    color:#e4bc3f;
}
.bottom-links b{
    color:#555b61;
    font-weight:400;
}

